image:
  empty: rancher/pause:3.1
  repository: "rancher/elemental-operator"
  tag: "%VERSION%"
  imagePullPolicy: IfNotPresent

seedImage:
  repository: "rancher/seedimage-builder"
  tag: "%VERSION%"
  imagePullPolicy: IfNotPresent

# a custom channel to install
#channel:
#  name: "my-os-channel"
#  image: "my-repo/my-os-channel"
#  tag: "1.2.3"

# default Elemental channels
defaultChannels:
  slMicro60Baremetal:
    included: true
    name: sl-micro-6.1-baremetal-channel
    enabled: true
    image: "%%IMG_REPO%%/rancher/elemental-channel/sl-micro:6.1-baremetal"
    deleteNoLongerInSyncVersions: false
  slMicro60Base:
    included: true
    name: sl-micro-6.1-base-channel
    enabled: false
    image: "%%IMG_REPO%%/rancher/elemental-channel/sl-micro:6.1-base"
    deleteNoLongerInSyncVersions: false
  slMicro60KVM:
    included: true
    name: sl-micro-6.1-kvm-channel
    enabled: false
    image: "%%IMG_REPO%%/rancher/elemental-channel/sl-micro:6.1-kvm"
    deleteNoLongerInSyncVersions: false
  slMicro60RT:
    included: true
    name: sl-micro-6.1-rt-channel
    enabled: false
    image: "%%IMG_REPO%%/rancher/elemental-channel/sl-micro:6.1-rt"
    deleteNoLongerInSyncVersions: false

# number of operator replicas to deploy
replicas: 1

# http[s] proxy server
# proxy: http://<username>@<password>:<url>:<port>

# comma separated list of domains or ip addresses that will not use the proxy
noProxy: 127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,.svc,.cluster.local

global:
  cattle:
    systemDefaultRegistry: ""

# used only if systemDefaultRegistry is empty
registryUrl: "%%IMG_REPO%%"

# enable debug output for operator
debug: false

nodeSelector:
  kubernetes.io/os: linux

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 2000

tolerations:
  - key: cattle.io/os
    operator: "Equal"
    value: "linux"
    effect: NoSchedule
