---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: machineregistrations.elemental.cattle.io
spec:
  group: elemental.cattle.io
  names:
    kind: MachineRegistration
    listKind: MachineRegistrationList
    plural: machineregistrations
    singular: machineregistration
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              config:
                description: Config the cloud config that will be used to provision
                  the node.
                properties:
                  cloud-config:
                    x-kubernetes-preserve-unknown-fields: true
                  elemental:
                    properties:
                      install:
                        properties:
                          config-dir:
                            type: string
                          config-urls:
                            items:
                              type: string
                            type: array
                          debug:
                            type: boolean
                          device:
                            type: string
                          device-selector:
                            items:
                              properties:
                                key:
                                  enum:
                                  - Name
                                  - Size
                                  type: string
                                operator:
                                  enum:
                                  - In
                                  - NotIn
                                  - Gt
                                  - Lt
                                  type: string
                                values:
                                  items:
                                    type: string
                                  type: array
                              required:
                              - key
                              - operator
                              type: object
                            type: array
                          disable-boot-entry:
                            type: boolean
                          eject-cd:
                            type: boolean
                          firmware:
                            type: string
                          iso:
                            type: string
                          no-format:
                            type: boolean
                          poweroff:
                            type: boolean
                          reboot:
                            type: boolean
                          snapshotter:
                            default:
                              type: loopdevice
                            properties:
                              type:
                                default: loopdevice
                                description: Type sets the snapshotter type a new
                                  installation, available options are 'loopdevice'
                                  and 'btrfs'
                                type: string
                            type: object
                          system-uri:
                            type: string
                          tty:
                            type: string
                        type: object
                      registration:
                        properties:
                          auth:
                            default: tpm
                            type: string
                          ca-cert:
                            type: string
                          emulate-tpm:
                            type: boolean
                          emulated-tpm-seed:
                            format: int64
                            type: integer
                          no-smbios:
                            type: boolean
                          no-toolkit:
                            type: boolean
                          url:
                            type: string
                        type: object
                      reset:
                        default:
                          reboot: true
                          reset-oem: true
                          reset-persistent: true
                        properties:
                          config-urls:
                            items:
                              type: string
                            type: array
                          debug:
                            type: boolean
                          disable-boot-entry:
                            type: boolean
                          enabled:
                            type: boolean
                          poweroff:
                            type: boolean
                          reboot:
                            default: true
                            type: boolean
                          reset-oem:
                            default: true
                            type: boolean
                          reset-persistent:
                            default: true
                            type: boolean
                          system-uri:
                            type: string
                        type: object
                      system-agent:
                        properties:
                          secret-name:
                            type: string
                          secret-namespace:
                            type: string
                          token:
                            type: string
                          url:
                            type: string
                        type: object
                    type: object
                  network:
                    description: |-
                      NetworkTemplate contains a list of IPAddressPools and a network config template.
                      This template can be defined in both MachineRegistrations and MachineSelectors.
                    properties:
                      config:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      ipAddresses:
                        items:
                          description: IPAddressPool contains an IPAddressPool reference
                            that can be used to generate an IPAddressClaim.
                          properties:
                            ipPoolRef:
                              description: |-
                                TypedLocalObjectReference contains enough information to let you locate the
                                typed referenced object inside the same namespace.
                              properties:
                                apiGroup:
                                  description: |-
                                    APIGroup is the group for the resource being referenced.
                                    If APIGroup is not specified, the specified Kind must be in the core API group.
                                    For any other third-party types, APIGroup is required.
                                  type: string
                                kind:
                                  description: Kind is the type of resource being
                                    referenced
                                  type: string
                                name:
                                  description: Name is the name of resource being
                                    referenced
                                  type: string
                              required:
                              - kind
                              - name
                              type: object
                              x-kubernetes-map-type: atomic
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                type: object
              machineInventoryAnnotations:
                additionalProperties:
                  type: string
                description: MachineInventoryAnnotations annotations to be added to
                  the created MachineInventory object.
                type: object
              machineInventoryLabels:
                additionalProperties:
                  type: string
                description: MachineInventoryLabels label to be added to the created
                  MachineInventory object.
                type: object
              machineName:
                type: string
            type: object
          status:
            properties:
              conditions:
                description: Conditions describe the state of the machine registration
                  object.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              registrationToken:
                description: RegistrationToken a token for registering a machine.
                type: string
              registrationURL:
                description: RegistrationURL is the URL for registering a new machine.
                type: string
              serviceAccountRef:
                description: ServiceAccountRef a reference to the service account
                  created by the machine registration.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                      TODO: this design is not final and this field is subject to change in the future.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
