name: Build
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-build-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-go-${{ hashFiles('**/go.sum') }}
      - name: Build
        run: make build
      - name: Store operator binary
        uses: actions/upload-artifact@v3
        with:
          name: elemental-operator
          path: build/elemental-operator
      - name: Store register binary
        uses: actions/upload-artifact@v3
        with:
          name: elemental-register
          path: build/elemental-register
      - name: Store support binary
        uses: actions/upload-artifact@v3
        with:
          name: elemental-support
          path: build/elemental-support