name: Unit tests
on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: tests-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - uses: actions/cache@v4
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-test-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-test-go-${{ hashFiles('**/go.sum') }}
    - name: Run tests
      run: make unit-tests
